<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310094117223-4kotoe8ggd0rg738fdpjrfr99fv3bvsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310094117223-4kotoe8ggd0rg738fdpjrfr99fv3bvsp</string>
	<key>API_KEY</key>
	<string>AIzaSyC0yHlbDJvz2OrgJ2nyHvnE41GRmgpo31g</string>
	<key>GCM_SENDER_ID</key>
	<string>310094117223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mehani.sim.beFitnessApp</string>
	<key>PROJECT_ID</key>
	<string>be-fitness-4ca28</string>
	<key>STORAGE_BUCKET</key>
	<string>be-fitness-4ca28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310094117223:ios:6c14a0303693b5d6f117c2</string>
</dict>
</plist>